GIGA_KEY=<put your key here>
NATS_SERVERS=nats://nats:4222
NATS_SUBJECT_IN=summaries.process
NATS_SUBJECT_INTERMEDIATE=summaries.intermediate
NATS_SUBJECT_FINAL=summaries.final
REDIS_URL=redis://redis:6379/0
QDRANT_URL=http://qdrant:6333