fastapi==0.111.0
uvicorn[standard]==0.30.1
httpx==0.27.0
pydantic==2.8.2

# Тесты
pytest==8.3.1
pytest-asyncio==0.23.7

# NATS
nats-py==2.6.0

# Redis
redis==5.0.7

# Qdrant (для интеграции, можно пока оставить закомментированным если ещё не используешь)
qdrant-client==1.8.2

transformers==4.55.3

# --- LangChain ecosystem ---

langchain>=0.3.0
langchain-core>=0.3.0,<0.4.0
langchain-community>=0.3.0
langsmith>=0.1.0
langchain-gigachat==0.3.12

# --- GigaChain packages ---
gigachain==0.2.16
gigachain-core==0.2.38.post2
gigachain-community==0.2.16.post3

# --- LangSmith (совместимая версия) ---
langsmith>=0.1.112,<0.2.0

# --- Доп. зависимости ---
python-dotenv==1.0.1

faststream[nats]>=0.5.0

pytest-asyncio==0.23.7
